.banner {
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-color: #E2EAE7;
  padding: 150px 0;
}

.banner-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .banner {
    height: 50vh;
  }
}
