.footer {
  height: 240px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  border-top: 2px solid #eee;
  padding: 0 8%;
}

.footer-content {
  padding-top: 16px;
}

.footer-icon {
  font-size: 32px;
  padding: 16px;
  position: relative;
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.footer-icon-group {
  display: flex;
  justify-content: center;
}
