h2 {
  font-size: 2em;
}

.intro {
  text-align: left;
  background-color: #e8e8e8;
  padding: 40px 20px;
}

.about {
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  max-width: 540px;
  margin: 0 auto;
  p {
    padding: 1em 0;
  }
  a {
    color: #5588a3;
    text-decoration: none;
    font-weight: lighter;
  }
}

@media only screen and (max-width: 1000px) {
  .intro {
    text-align: left;
    background-color: #eee;
    padding: 40px 20px;
  }
}
