h2 {
  font-size: 2em;
}

.intro {
  text-align: center;
  background-color: #eee;
  height: 50vh;
  padding: 0 auto;
}

.about {
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding-top: 2em;
  max-width: 540px;
  margin: 0 auto;
  p {
    padding-top: 2em;
  }
}
